<div class="card text-center">
    <div class="card-header">
      Destaque
    </div>
    <div class="card-body.d-flex">
      <img class="card-img" src="{{ post.banner.url }}" href="{% url 'post-detail' post.pk %}">
      <h5 class="card-title">{{ post }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <p class="card-subtitle">Autor: {{ post.author }}</p>
      <p class="card-subtitle">Categoria: {{ post.category }}</p>
      <a class="btn btn-info" href="{% url 'post-detail' post.pk %}">Saber mais</a>
    </div>
    <div class="card-footer text-muted">
        {{ post.created_at }}
    </div>
  </div>